[submodule "lecture-one/lib/forge-std"]
	path = lecture-one/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lecture-one/lib/openzeppelin-contracts"]
	path = lecture-one/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
